.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
    margin-top: 8px;
}
.table-title .add-new i {
    margin-right: 4px;
}
#selectUserModal{
    z-index: 10000;
}
#addUserModal{
    z-index: 10000;
}
